<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        <h:outputText value="#{clienteMB.selectedclient.nome}" />
    </ui:define>
    <ui:define name="principal">
        <h:form id="formpedido">
            <p:panelGrid columns="2">
                <p:outputLabel value="Produto" />
                <p:selectOneMenu value="#{pedidoMB.ped.produto}" converter="converterProduto" style="width:100%">
                    <f:selectItems value="#{produtoMB.listaProduto}" var="aux"
                                   itemValue="#{aux}" itemLabel="#{aux.nome}" />
                </p:selectOneMenu>
                <p:outputLabel value="Quantidade"/>
                <p:inputText value="#{pedidoMB.ped.quantidade}" />
            </p:panelGrid>
            <p:commandButton value="Add Item" action="#{pedidoMB.addItem()}" update=":formpedido" />
            <p:commandButton value="Add Pedido" action="#{pedidoMB.addPedido()}" update=":formpedido" />
            <p:dataTable id="dataTableItem"
                         var="g" value="#{pedidoMB.listaItens}"
                         rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         
                         >
                <p:column headerText="IDPedido">
                    <p:outputLabel value="#{g.numero}"/>
                </p:column>
                <p:column headerText="IDProduto">
                    <p:outputLabel value="#{g.produto.codigo}"/>
                </p:column>
                <p:column headerText="Produto">
                    <p:outputLabel value="#{g.produto.nome}"/>
                </p:column>
                <p:column headerText="Quantidade">
                    <p:outputLabel value="#{g.quantidade}"/>
                </p:column>
            </p:dataTable>
            <p:panelGrid columns="2">
                
                <p:outputLabel value="Cliente" />
                <p:selectOneMenu value="#{pedidoMB.seleclient}" converter="converterCliente" style="width:100%">
                    <f:selectItems value="#{clienteMB.listaClientes}" var="aux"
                                   itemValue="#{aux}" itemLabel="#{aux.nome}" />
                </p:selectOneMenu>
            </p:panelGrid>
            <p:dataTable id="dataTablePedido"
                         var="f" value="#{pedidoMB.listaPedidos}"
                         rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         
                         >
                <p:column headerText="Cod">
                    <p:outputLabel value="#{f.numero}"/>
                </p:column>
                <p:column headerText="Cliente">
                    <p:outputLabel value="#{f.cliente.nome}"/>
                </p:column>
            </p:dataTable>
            
            
            
        </h:form>
    </ui:define>
</ui:composition>