<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        <h:outputText value="Cadastro de Produtos" />
    </ui:define>
    <ui:define name="principal">
        <h:form id="formprod">
            <p:panelGrid columns="2">
                <p:outputLabel value="Nome"/>
                <p:inputText value="#{produtoMB.prod.nome}" />
                <p:outputLabel value="Preco"/>
                <p:inputText value="#{produtoMB.prod.preco}" />
                <p:outputLabel value="Imposto"/>
                <p:inputText value="#{produtoMB.prod.imposto}" />
                <p:outputLabel value="Moeda"/>
                <p:inputText value="#{produtoMB.prod.moeda}" />
            </p:panelGrid>
            <p:commandButton value="Registrar" action="#{produtoMB.salvax()}" update=":formprod" />
            <p:dataTable id="dataTableProduto"
                         var="f" value="#{produtoMB.listaProduto}"
                         rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         
                         >
                <p:column headerText="Id">
                    <p:outputLabel value="#{f.codigo}"/>
                </p:column>
                <p:column headerText="Produto">
                    <p:outputLabel value="#{f.nome}"/>
                </p:column>
                <p:column headerText="Preco">
                    <p:outputLabel value="#{f.imposto}"/>
                </p:column>
                <p:column headerText="Imposto">
                    <p:outputLabel value="#{f.imposto}"/>
                </p:column>
                <p:column headerText="Moeda">
                    <p:outputLabel value="#{f.moeda}"/>
                </p:column>
                
            </p:dataTable>
        </h:form>
    </ui:define>
</ui:composition>