<ui:composition template="template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="title">
        <h:outputText value="Cadastro de Funcionários" />
    </ui:define>
    <ui:define name="principal">
        <h:form id="formcliente">
            <p:panelGrid columns="2">
                <p:outputLabel value="Endereço"/>
                <p:inputText value="#{clienteMB.client.endereco}" />
                <p:outputLabel value="Limite"/>
                <p:inputText value="#{clienteMB.client.limite}" />
                <p:outputLabel value="Nome"/>
                <p:inputText value="#{clienteMB.client.nome}" />
                <p:outputLabel value="Status"/>
                <p:inputText value="#{clienteMB.client.status}" />
                <p:outputLabel value="Telefone"/>
                <p:inputText value="#{clienteMB.client.telefone}" />
            </p:panelGrid>
            <p:commandButton value="Registrar" action="#{clienteMB.addcliente()}" update=":formcliente" />
            <p:commandButton value="Fazer Pedido" action="#{clienteMB.vaiPedido()}" update=":formcliente" />
            <p:dataTable id="dataTableCliente"
                         var="f" value="#{clienteMB.listaClientes}"
                         rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15"
                         selectionMode="single" selection="#{clienteMB.selectedclient}" rowKey="#{f.codigo}"
                         >
                <p:column headerText="Codigo">
                    <p:outputLabel value="#{f.codigo}"/>
                </p:column>
                <p:column headerText="Cliente">
                    <p:outputLabel value="#{f.nome}"/>
                </p:column>
                <p:column headerText="Endereço">
                    <p:outputLabel value="#{f.endereco}"/>
                </p:column>
                <p:column headerText="Limite">
                    <p:outputLabel value="#{f.limite}"/>
                </p:column>
                <p:column headerText="Telefone">
                    <p:outputLabel value="#{f.telefone}"/>
                </p:column>
                
            </p:dataTable>
            
        </h:form>
    </ui:define>
</ui:composition>
