<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
	<h:form>
	<p:menubar>
		<p:submenu label="Cadastro">
			<p:submenu label="Produto">
				<p:menuitem value="Cadastro de Clientes" url="/faces/CadastroCliente.xhtml" ></p:menuitem>
				<p:menuitem value="Cadastro de Produtos"   url="/faces/CadastroProduto.xhtml"></p:menuitem>
                                <p:menuitem value="Cadastro de Pedidos"   url="/faces/CadastroPedido.xhtml"></p:menuitem>
				<p:menuitem value="Tela2"   url="/faces/tela2.xhtml"></p:menuitem>
                                <p:menuitem value="Teste"   url="/faces/Teste.xhtml"></p:menuitem>
			</p:submenu>
			<p:menuitem value="Menu2"></p:menuitem>
			<p:separator/>
			<p:menuitem value="Menu3"></p:menuitem>
		</p:submenu>
		<p:submenu label="Help">
			<p:menuitem value="About JournalDev"></p:menuitem>
			<p:menuitem value="Contact Us"></p:menuitem>
			<p:separator/>
			<p:menuitem value="Help"></p:menuitem>
		</p:submenu>
	</p:menubar>
</h:form>
</ui:composition>

