<ui:composition template="template.xhtml"
               xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
                
        <ui:define name="title">
		<h:outputText value="Tela1" />
	</ui:define>

	<ui:define name="principal">
			<h1>Tela1</h1>
	</ui:define>
</ui:composition>
